* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

.App {
  display: flex;
  justify-content: space-around
}

.input-box {
  align-self: flex-start;
  padding: 5px;
  border-radius: 5px
}
.output {
  width: 50vw;
  height: 100vh;
  background-color: yellow;
  border: 1px solid black
}

.XL {
  width: 100%;
  height: 50%;
  background-color: aquamarine;
  border-bottom: 1px dashed black
}

.L {
  width: 100%;
  height: 25%;
  background-color: burlywood;
  border-bottom: 1px dashed black
}

.SM {
  width: 50%;
  height: 25%;
  background-color: lightcoral;
  border-right: 1px dashed black;
  border-bottom: 1px dashed black;
  display: inline-block;  
}